h1 ,h2 {
	color:blue; 
	font-family: Arial;
    font-size: 30px;
    } 

/*
Using a "." with the class name will apply it to anything in its class 
*/
.Header {
    color: orange;

}

p {
color: red;

}

p.Dummy{
color: blue;
font-size: 20px;
}

p#What{
    color:purple;
}

.spanclass{
    color: black;
}
